@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  background: lavender;
  padding: 20px;
}

.App-header {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  max-width: 600px;
}

.App-main {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #c724b1;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #c724b1;
  color: lavender;
}
